{% extends 'base.html' %}

{% block content %}

<div class="container">
    {% if request.session.cart %}
        <div class="row no-gutter">
            <div class="col-6">
                <div class="card shadow-lg p-3 mb-5 bg-body rounded mt-5">
                    <table class="table table-striped">
                        <tbody>
                        {% for items in product %}
                            <tr>
                              <td>
                                  <a href="{{ items.image.url }}"><img src="{{ items.image.url }}" class="rounded float-start" alt="..." width="50" height="50"></a>
                              </td>
                              <td>{{ items.product_name }}</td>
                              <td align="center">1</td>
                              <td align="right">₹ {{ items.price }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <p align="right">Total Price: <strong>₹ 25000</strong></p>
                </div>
            </div>


            <div class="col-6 d-flex justify-content-end">
                <div class="card shadow-lg p-3 mb-5 bg-body rounded mt-5 " style="width: 25rem;">
                  <div class="card-body">
                    Price Details:
                      <hr>
                    <div class="row">

                        <div class="col-6">
                            <p>Price: (2 Items)</p>
                            <p>Discount:</p>
                        </div>

                        <div class="col-6">
                            <p>₹ 25000</p>
                            <p><del>₹ 200</del></p>
                        </div>
                        <hr>
                         <div class="col-6">
                            <p>Total:</p>
                        </div>

                        <div class="col-6">
                            <p><strong>₹ 24800</strong></p>
                        </div>


                    </div>
                  </div>
                </div>
            </div>

        </div>
    {% else %}
    </br>
    <h3 align="center">{{ messages_cart }}</h3>
    {% endif %}

</div>



{% endblock %}