{% extends 'base.html' %}


{% block content %}

<div class="container mt-5 mb-4">
    <div class="row no-gutters">
      <div class=col-3>
        <div class="accordion" id="accordionFlushExample">
          <div class="accordion-item">
          {% if links %}
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Categories
              </button>
            </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <ul class="list-group">
                    {% for category in links %}
                      <li class="list-group-item"><a class="dropdown-item" href="{% url 'product_category' category.slug %}">{{category.category_name}}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
      </div>

      {% if product_category %}
      <div class='col-9'>
        <h5 class='mt-3'>Item Found: <span class="badge bg-secondary">{{ product_count }}</span></h5>
        <div class='row no-gutters'>
          {% for list in product_category %}
                <div class="col-lg-3 col-sm-12 col-md-6 ms-5">
                    <div class="card text-center shadow-lg p-3 mb-5 bg-body rounded" style="width: 17rem;">
                        <a href="{% url 'product_detail' list.slug %}">
                            <img src="{{ list.image.url }}" class="card-img-top" alt="..." width="200" height="200">
                        </a>
                          <div class="card-body">
                            <p class="card-text">{{ list.product_name }} </p>
                              <hr>
                            <p class="card-text">₹ {{ list.price }} </p>
                          </div>
                    </div>
                </div>
            {% endfor %}
          </div>
        </div>
        {% else %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong><h4>{{ slug }}?</h4></strong><h4> Sorry.! This page does not exits...</h4>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
      {% endif %}
    </div>
  </div>

{% endblock %}
