{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-4 col-sm-12 col-md-6">
            <div class="card" style="width: 18rem;">
              <img src="https://images.lululemon.com/is/image/lululemon/LM9AABS_0001_1?size=1600,1600" class="img-thumbnail" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example text to </p>
              </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}