{% extends 'base.html' %}


{% block content %}

<div class="container mt-5 mb-4">
    <div class="row">
       <div class="col-6 shadow-lg p-3 mb-5 bg-body rounded">
            <img src="{{ product.image.url }}" alt="..." style="max-width: 340px;">
       </div>
        <div class="col-6 shadow-lg p-3 mb-5 bg-body rounded">
            <div class="card-body">
                <h5 class="card-title">{{ product.product_name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <h5 class="card-title">₹ {{ product.price }}</h5>
            <hr>
                <form method="post">
                    {% csrf_token %}
                    <input type="text" value="{{ product.id }}">
                    <input class="btn btn-primary" type="submit" value="Add cart">
                </form>
            </div>
       </div>
    </div>
</div>

{% endblock %}